<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.board.paging.mapper.BoardPagingMapper">
  
  <!-- 목록조회 -->
  <select id="count">
  
     SELECT COUNT(*) AS CNT FROM BOARD
     WHERE MENU_ID = #{ menu_id }
  
  </select>
  
  <!-- getBoardPagingList(String menu_id, int offset, int recordSize)
  	   menu_id : param1, offset : param2, recordSize : param3 -->
  <select id="getBoardPagingList" >
	SELECT IDX, 
	       MENU_ID, 
	       TITLE, 
	       CONTENT, 
	       WRITER, 
	       TO_CHAR(REGDATE, 'yyyy-MM-dd') REGDATE, 
	       HIT
	FROM   BOARD
	WHERE  MENU_ID = #{ param1 }
	ORDER BY IDX DESC
	OFFSET #{ param2 } ROWS FETCH NEXT #{ param3 } ROWS ONLY
  </select>
  
  <select id="getBoard">
  	SELECT	IDX, MENU_ID, TITLE, CONTENT, WRITER, TO_CHAR(REGDATE, 'YYYY-MM-DD HH24:MI:SS DAY') REGDATE, HIT
  	FROM	BOARD
  	WHERE	IDX = #{ idx }
  </select>
  
  <select id="getBoardByIdx">
  	SELECT	IDX, MENU_ID, TITLE, CONTENT, WRITER, TO_CHAR(REGDATE, 'YYYY-MM-DD HH24:MI:SS DAY') REGDATE, HIT
  	FROM	BOARD
  	WHERE	IDX = #{ param1 }
  </select>
  
  <update id = "incHit">
  	UPDATE 	BOARD
  	SET		hit = hit + 1
  	WHERE	idx = #{param1}
  </update>
  
  <update id = "updateBoard">
  	UPDATE  BOARD
  	SET	    TITLE = #{title}
  		   ,CONTENT = #{content}		
  	WHERE   IDX = #{idx}
  </update>
  
  <insert  id="insertBoard">
  	
  	INSERT INTO BOARD (
	    IDX,
	    MENU_ID,
	    TITLE,
	    CONTENT,
	    WRITER,
	    REGDATE,
	    HIT
	) VALUES ( 
  		( SELECT NVL(MAX(IDX),0)+1 FROM BOARD ) ,
        #{ menu_id  },
        #{ title    },
        #{ content  },
        #{ writer   },
        SYSDATE,
        0 
    )  
  </insert>
  
  <delete id = "deleteBoard">
  	DELETE FROM BOARD
  	WHERE idx = #{param1}
  </delete>
  
</mapper>